* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  padding: 15px;
  max-width: 640px;
  margin: 0 auto;
}
.gallery-wrapper {
  overflow-x: auto;
}
.gallery {
  display: flex;
  flex-flow: nowrap;
  gap: 15px;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  width: 40px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: solid black 5px;
  background: linear-gradient(to left, transparent 0%, black 200%);
  opacity: 0.1;
  transition: all 600ms ease-in-out;
}

.arrow-right {
  left: auto;
  right: 0;
  background: linear-gradient(to right, transparent 0%, black 200%);
}

.arrow-left:hover {
  opacity: 1;
}
.arrow-right:hover {
  opacity: 1;
}

.item {
  /*   width: 250px; */
  height: 250px;
  flex-shrink: 0;
  opacity: 0.6;
  transition: all 600ms ease-in-out;
}

.current-item {
  opacity: 1;
}

body {
  height: 100%;
  width: 100%;
}

img {
  height: 250px;
}

::-webkit-scrollbar {
  /*  display: none; */
  width: 12px; /* Largura da barra de rolagem */
  height: 7px;
}

.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

/* Estilo para o rastreador da barra de rolagem (a área cinza) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor de fundo do rastreador */
}

/* Estilo para o polegar da barra de rolagem (a parte deslizante) */
::-webkit-scrollbar-thumb {
  background: #1b3b56; /* Cor do polegar */
  border-radius: 6px; /* Borda arredondada do polegar */
}

/* Estilo para o canto da barra de rolagem */
::-webkit-scrollbar-corner {
  background: #f1f1f1; /* Cor de fundo do canto */
}
